deepeval
langchain
langchain-core
langchain-huggingface
langchain-community
langchain-experimental
langchain-openai
langchain-ollama
langchain-qdrant
streamlit
openai
pandas
qdrant-client
unstructured
ipykernel
json-repair
python-dotenv