langchain
langchain-core
langchain-huggingface
langchain-community
langchain-experimental
langchain-openai
langchain-ollama
langchain-qdrant
streamlit
openai
pandas
faiss-cpu
qdrant-client
unstructured
unstructured[pdf]
ipykernel
tika
json-repair
python-dotenv